.profile-item {
  text-align: center;
}

.profile-picture {
  margin: 7% auto;
  width: 7em !important;
  height: 7em !important;

}

.profile-info{
  max-height: 5em;
  position: relative;
  overflow: hidden;

}

.profile{
  margin: 0 5%
}

.profile-info::after {
  position: absolute;
  bottom: 0;  
  left: 0; 
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
     rgba(255,255,255, 1) 20%, 
     rgba(255,255,255, 0) 80%
  );
  pointer-events: none; /* so the text is still selectable */
}