<ion-content *ngIf="user">
  <div class="profile-item">
    <ion-avatar class="profile-picture" >
      <ion-img [src]="user.photo || 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'" (ionError)="changePhoto()"></ion-img>
    </ion-avatar>
    <ion-button (click)="openSelectable()">Delegar voto</ion-button>

    <ionic-selectable closeButtonText="Cancelar"  confirmButtonText="Aceptar" searchPlaceholder="Buscar" #filterList [hidden]="true" canSearch="true" [items]="types" [(ngModel)]="selectedTypes" [isMultiple]="true"
      placeholder="Seleccione un tipo de votación" itemValueField="id" itemTextField="name" (onChange)="compareChanges()">
      <ng-template ionicSelectableItemTemplate let-user="item">
        <ion-card style="width: 100% !important" (click)="$event.stopPropagation()" text-wrap>
          <ion-card-header>
            <ion-card-title><small>{{ user.name }}</small>
              <button style="float: right; background-color: transparent;" (click)="user.display = !user.display"
                *ngIf="user.description">
                <ion-icon name="ios-arrow-up" *ngIf="!user.display"></ion-icon>
                <ion-icon name="ios-arrow-down" *ngIf="user.display"></ion-icon>
              </button>
            </ion-card-title>
            <ion-card-subtitle *ngIf="user.district"><small> {{user.district.name}} </small></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content *ngIf="user.display">
            {{ user.description }}
          </ion-card-content>
        </ion-card>
      </ng-template>
    </ionic-selectable>

    <h4>{{user.last_name}}, {{user.first_name}}
      <h5 style="color:grey">@{{user.username}}</h5>
    </h4>
    <div *ngIf="!readMore" class="profile profile-info" id="profile-info">{{user.bio}}</div>
    <div *ngIf="readMore" class="profile">{{user.bio}}</div>
    <ion-button *ngIf="!readMore && user.bio" class="read-more" expand="full" (click) ="readMore = true" style="margin-top:-2em">Leer más</ion-button>
    <ion-button *ngIf="readMore && user.bio" class="read-more" expand="full" (click) ="readMore = false" >Leer menos</ion-button>

  </div>

  <ion-toolbar>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="proposals">
        <ion-icon name="bulb"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="options">
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <app-user-proposals *ngIf="segment === 'proposals'" [username]="username"></app-user-proposals>
  <app-user-options *ngIf="segment === 'options'" [username]="username"></app-user-options>
</ion-content>