<ion-grid>
  <ion-row class="justify-content-center align-items-center" style="height: 100%">
    <ng-container *ngFor="let p of proposals">
      <ion-card style="width:100%" (click)=openProposal(p.id)>
        <ion-card-header>
          <ion-card-title>{{ p.title}}</ion-card-title>
          <ion-card-subtitle>{{ (p.district) }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="sidebar-box">
          {{ p.description}}
          <div class="read-more"></div>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-row>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-grid>