<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="!users || users.length ==  0">
    No se han encontrado más usuarios en su distrito.
  </p>
  <ng-container *ngFor="let u of users">
    <ion-card (click)="displayUser(u.username)">
      <ion-card-title>
        <ion-item lines="none" style="margin-bottom: -5%;">
          <ion-thumbnail style="margin: 5%;">
            <ion-img [src]="u.photo || 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'"  (ionError)="changePhoto(u)"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h3>{{u.last_name}}, {{u.first_name}}</h3>
            <p>@{{u.username}}</p>
          </ion-label>
        </ion-item>

      </ion-card-title>
      <br>
      <ion-card-subtitle>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <b>{{ u.num_proposals }}</b> propuestas
            </ion-col>
            <ion-col size="6">
              <b>{{  (u.karma || 1)  | number : '1.0-2' }}</b> puntuación de usuario
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-subtitle>
    </ion-card>
  </ng-container>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>