<!--
  Generated template for the CreateProposalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">  <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin: 5% auto">Crear propuesta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Tipo</ion-label>
      <ionic-selectable closeButtonText="Cancelar" confirmButtonText="Aceptar" searchPlaceholder="Buscar" canSearch="true" [items]="types"  [(ngModel)]="proposalType" placeholder="Seleccione un tipo de votación"
    itemValueField="id" itemTextField="name">
          <ng-template ionicSelectableItemTemplate let-user="item" >
              <ion-card style="width: 100% !important" (click)="$event.stopPropagation()" text-wrap>
                  <ion-card-header>
                    <ion-card-title><small>{{ user.name }}</small > 
                        <button style="float: right; background-color: transparent;" (click)="user.display = !user.display" *ngIf="user.description">
                            <ion-icon name="ios-arrow-up" *ngIf="!user.display"></ion-icon>
                            <ion-icon name="ios-arrow-down" *ngIf="user.display"></ion-icon>
                        </button>
                    </ion-card-title>
                    <ion-card-subtitle *ngIf="user.district"><small> {{user.district.name}} </small></ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content *ngIf="user.display">
                      {{ user.description }}
                  </ion-card-content>
                </ion-card>
            </ng-template>
      </ionic-selectable>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input placeholder="Título" [(ngModel)]="proposal.title"></ion-input>
  </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea   [(ngModel)]="proposal.description" placeholder="Descripción"></ion-textarea >
    </ion-item>
    
    <ion-item>
      <ion-label><h2>Exclusivo para tu distrito</h2><ion-note>Sólo para proposiciones libres</ion-note></ion-label>
      <ion-checkbox slot="end" [disabled]="proposalType.id" [checked]="proposalType && proposalType.district" [(ngModel)] = "proposal.district"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button no-margin large expand="full" (click)="save()" [disabled]="disableButtons || !proposal.description || !proposal.title || ! (this.proposal.title.length < 80 && this.proposal.description.length < 1000)" >Crear</ion-button>
</ion-footer>



