<ion-grid>
  <ion-row class="justify-content-center align-items-center" style="height: 100%">
    <ng-container *ngFor="let o of options">
      <ion-card style="width:100%" (click)=openProposal(o.voting.id)>
        <ion-card-header>
          <ion-card-title>{{ o.voting.title}}</ion-card-title>
          <ion-card-subtitle>{{ o.voting.district ? o.voting.district.name : '' }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="sidebar-box">
          {{ o.voting.description}}
          <div class="read-more"></div>
        </ion-card-content>
      </ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-item lines="none">
              <ion-label style="opacity:1 !important">{{ o.name }}</ion-label>
              <ion-radio style="opacity: 0.5 !important" [disabled] = "true" slot="start" [checked]="false"></ion-radio> 
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-icon button (click)="o.selected=true"  *ngIf="!o.selected" name="ios-arrow-up" color="medium" size="large"></ion-icon>
            <ion-icon button  (click)="o.selected=false" *ngIf="o.selected"  name="ios-arrow-down" color="medium" size="large"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-text *ngIf="o.selected" color="medium" class="ion-text-wrap"> {{ o.description }} </ion-text>
    </ng-container>
  </ion-row>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-grid>