<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-content>
      <ion-list>
        <ion-card *ngIf="voter">
          <ion-card-title>
            <ion-item lines="none" style="margin-bottom: -5%;">
              <ion-thumbnail style="margin: 5%;">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-thumbnail>
              <ion-label>
                <h3>{{voter.last_name}}, {{voter.first_name}}</h3>
                <p>@{{voter.username}}</p>
              </ion-label>
            </ion-item>

          </ion-card-title>
          <br>
          <ion-card-subtitle>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <b>{{ voter.num_proposals }}</b> propuestas
                </ion-col>
                <ion-col size="6">
                  <b>{{  (voter.karma || 1)  | number : '1.0-2' }}</b> puntuación de usuario
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-subtitle>
        </ion-card>

        <ion-menu-toggle>
          <ion-item button lines="none" routerLink="/user-list">
            <ion-icon name="people" [color]="getUrl('/user-list' )" ></ion-icon> Usuarios
          </ion-item>

        </ion-menu-toggle>
      </ion-list>
      <ion-menu-toggle style="width:100%; position: absolute;
      bottom: 0;">
        <ion-grid>
          <ion-row class="align-items-center">
            <ion-col size="4">
              <ion-button fill="clear" expand="full" [color]="getUrl('/tabs/tab1')" routerLink="/tabs/tab1" menuClose>
                <ion-icon name="bulb"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button fill="clear" expand="full" [color]="getUrl('/tabs/tab2' )" routerLink="/tabs/tab2">
                <ion-icon name="mail"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button fill="clear" expand="full" [color]="getUrl('/tabs/tab3')" routerLink="/tabs/tab3">
                <ion-icon name="ios-archive"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-menu-toggle>
    </ion-content>
    <ion-footer>

      <ion-toolbar>
        <ion-menu-toggle>
          <ion-button (click)="logout()">Cerrar Sesión</ion-button>
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>