<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="filterProposals()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="logScroll($event)" [scrollEvents]="true">

  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-select okText="Aceptar" cancelText="Cancelar"  style="text-align: right; margin: 0 5% -5%" interface="action-sheet" placeholder="Fecha de creación" (ionChange)="refreshData()"
    [selectedText]="selectedOrder.name" [(ngModel)]="selectedOrder">
    <ion-select-option *ngFor="let o of orders" [value]="o">{{o.name}}</ion-select-option>
  </ion-select>

  <ion-grid>
    <ion-row class="justify-content-center align-items-center" style="height: 100%">
      <ng-container *ngFor="let p of proposals">
        <ion-card style="width:100%" (click)=openProposal(p.id)>
          <ion-card-header>
            <ion-card-title>{{ p.title}}</ion-card-title>
            <ion-card-subtitle>{{ getDistrict(p.district) }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ p.description}}
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="scrollToTop" [style.opacity]="opacity">
    <ion-fab-button (click)="refreshData()">
      <ion-icon name="ios-arrow-up" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="this.create" (click)="createProposal()">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-select #filterList cancelText="Cancelar"  (ionChange)="refreshData()" [hidden]=true [(ngModel)]="selectedFilter">
    <ion-select-option *ngFor="let f of filters" [value]="f">{{f.name}}</ion-select-option>
  </ion-select>

</ion-content>