
<app-create-option (displayOption)='getDisplay($event)'  [marker]="marker" [ranges]="ranges" [proposalId]="proposalId" [(options)]="options" *ngIf="!canCreateOption() && proposal && !proposal.archived"></app-create-option>
<ion-list>
  <ion-radio-group [(ngModel)]="optionId" (ionChange)="emitChange()">
    <ng-container *ngFor="let option of options">
      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-grid>
            <ion-row>
              <ion-col size="10">
                <ion-item lines="none">
                  <ion-label style="opacity:1 !important">{{ option.name }}</ion-label>
                  <ion-radio style="opacity: 0.5 !important" *ngIf="proposal" [disabled] = "proposal.archived" slot="start" [value]="option.id" [checked]="option.voted"></ion-radio> 
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <ion-icon button (click)="option.selected=true"  *ngIf="!option.selected" name="ios-arrow-up" color="medium" size="large"></ion-icon>
                <ion-icon button  (click)="option.selected=false" *ngIf="option.selected"  name="ios-arrow-down" color="medium" size="large"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-text *ngIf="option.selected" color="medium" class="ion-text-wrap"> {{ option.description }} </ion-text>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-radio-group>
</ion-list>

