<ion-button color="secondary" fill="transparent" style="color:#3880ff" (click)="displayOpt()">
 {{ !display ? "+ Añadir nueva opcion" : "- Ocultar" }}
</ion-button>
<ion-list *ngIf="display">
    <ion-item lines="none">
      <ion-label position="stacked">Título</ion-label>
      <ion-input placeholder="Título" maxlength="200" [(ngModel)]="option.name"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea placeholder="Descripción" [(ngModel)]="option.description"></ion-textarea>
    </ion-item>
    <ion-item-divider class="ios-text-wrap">
    <ion-button expand="full" (click)="save()" [disabled]="!option.name || !option.description">Guardar</ion-button>
  </ion-item-divider>
</ion-list>
