{% extends 'registration/base.html' %}
{% load static %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/create_type.css' %}" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}
{% block title %}Tipos de votación{% endblock %}

{% block content %}
<div id="form">
	<ol>
		<h3>Crear tipo</h3>
		<form method="POST" class="post-form" onsubmit="showLoader()">
			{% csrf_token %}
			
			<div class="row">
					<div class="column">
						{% if  form.errors.name %}
						<div class="error">El nombre es obligatorio y debe tener menos de 80 caracteres</div>
						{% endif %}

						<p>
							<label for="id_name">Nombre*</label><br>
							{{ form.name }}
						</p>
						{% if  form.errors.description %}
						<div class="error">La descripción es obligatoria y debe tener menos de 80 caracteres</div>
						{% endif %}
						<p>
							<label for="id_description">Descripción*</label><br>
							{{ form.description }}
						</p>
					
						<p>
							{{ form.divideDistrict }}
							<label for="id_divideDistrict">División por distritos</label>
						</p>
						<input type="submit" class="save btn btn-default" value="Guardar"></input>

					</div>
					<div class="column">
							
							<p>
								{{ form.isGeographical }}
								<label for="id_isGeographical">¿Es geográfico?</label>
							</p>
							{% if  form.non_field_errors %}
								<div class="error">Si se introduce la url es necesario introducir los 3 rangos</div>
							{% endif %}
							<p>
								<label for="id_url">Url</label><br>
								{{ form.url }}
							</p>
							<p>
								<label for="id_range1">Rango más cercano (en segundos)</label><br>
								{{ form.range1 }}
							</p>
							<p>
								<label for="id_range2">Rango intermedio (en segundos)</label><br>
								{{ form.range2 }}
							</p>
							<p>
								<label for="id_range3">Rango más lejano (en segundos)</label><br>
								{{ form.range3 }}
							</p>
					</div>

				  </div>
		</form>
	</ol>
</div>
	<script type="text/javascript"> 
	 	var isGeo = $("#id_isGeographical")
		
		function checkGeo() {
			if(!isGeo.is(":checked")){
				$("#id_url").prop('disabled', true)
				$("#id_range1").prop('disabled', true) 
				$("#id_range2").prop('disabled', true) 
				$("#id_range3").prop('disabled', true) 
			}else{
				$("#id_url").prop('disabled', false)
				$("#id_range1").prop('disabled', false) 
				$("#id_range2").prop('disabled', false) 
				$("#id_range3").prop('disabled', false) 
			}
	  	}
		  checkGeo()
		  isGeo.on("change", checkGeo);
	 </script>
<div class="loader" id="loader" style="display:none"></div>

{% endblock %}