{% extends 'registration/base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
<link rel="stylesheet" href="{% static 'css/list_types.css' %}" type="text/css" />
{% endblock %}
{% block title %}Tipos de votación{% endblock %}

{% block content %}
	<h2>Lista de tipos</h2>
	<a href="/add_type" class="createButton">+ Crear tipo</a>
	<br>
	{% render_table table  %}	
{% endblock %}