<ion-header>

  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="close()">  <ion-icon name="ios-arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-buttons slot="primary" *ngIf ="proposal && !proposal.votingStartDate">
      <ion-button horizontal="end" vertical="center" *ngIf="proposal && proposal.signed==false" color="primary" (click)="signProposal()">Firmar propuesta</ion-button>
      <ion-button horizontal="end" vertical="center" *ngIf="proposal && proposal.signed" color="danger" (click)="signProposal()">Retirar firma</ion-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>
<div  *ngIf="stickymap"  id="auxMap"></div>
<ion-content [scrollEvents]="true" (ionScroll)="getPosition()">
  

    <ion-card *ngIf="proposal">
      <ion-card-header >
        <ion-card-subtitle><ng-container *ngIf="proposal.district">{{ proposal.district.name }}</ng-container>
          <span style="float: right">{{ getDate() | date:'dd/MM/yyyy' }}</span>    
        </ion-card-subtitle>
        <ion-card-title>{{ proposal.title }}</ion-card-title>   
        <ion-card-subtitle  *ngIf ="proposal && !proposal.votingStartDate">{{ proposal.num_voters }} firmantes ({{ (getPercentage()*100).toFixed(2)}}%)     
        </ion-card-subtitle>
        <ion-progress-bar [value]="getPercentage()"  *ngIf ="proposal && !proposal.votingStartDate"></ion-progress-bar>
      </ion-card-header>
      <ion-card-content style="  text-align: justify; text-justify: inter-word" >
        {{ proposal.description }}
      </ion-card-content>
    </ion-card>
    <div [style.height]="coordinates?'50%':'0'" id="mapContainer"><div #map  id="map"></div></div>
    <ion-button *ngIf="createOption && marker && marker.getVisible()" (click)="loadIsochrones()">Cargar isocronos</ion-button>
    <ion-toolbar  *ngIf ="proposal && proposal.votingStartDate">
      <ion-segment [(ngModel)] = "segment">
        <ion-segment-button value="vote" (click)=getPosition()>
          <ion-icon name="mail" ></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="stats">
            <ion-icon name="stats"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <app-options #options *ngIf="proposal && segment === 'vote' && proposal.votingStartDate" [ranges]="ranges" [marker]="marker" (getMarker)="getMarker($event)" (displayOption)='getIsCreating($event)' [proposalId]="proposalId" [proposal]="proposal"></app-options>
    <app-voting-statistics *ngIf="proposal && segment === 'stats' && proposal.votingStartDate" [proposalId]="proposalId"></app-voting-statistics>
</ion-content>
<ion-footer>
  <ion-button [disabled]="!displayVoteButton" expand="full" no-margin *ngIf="proposal && segment === 'vote' && proposal.votingStartDate && !proposal.archived" (click)="vote()">Votar</ion-button>
</ion-footer>
