<ion-content class="bgBody">
  <div  class="bgBody">
    <img src="assets/icon/icon.png" class="center">
    
    <h6 style="margin: 0 auto; color:red; width: 80%" *ngIf="failed">El usuario o la contraseña es inválido</h6>

    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-item color="none">
            <ion-label  position="stacked">Usuario</ion-label>
            <ion-input  [(ngModel)]="user.username" ></ion-input>
          </ion-item>
          <ion-item  color="none">
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="user.password" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <a class="password" [href]="this.generalProvider.url +'accounts/password_reset/'">¿Ha olvidado su contraseña?</a>

      
    </div>
</ion-content>
<ion-footer>
  <div  class="bgBody no-border" >
    <ion-row>
      <ion-col col-6>
        <ion-button fill="outline" style="margin-left: auto; margin-right: auto; display: block !important;" (click)="login() ">Inicia sesión</ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button style="margin-left: auto; margin-right: auto; display: block !important;" routerLink="/register" >Regístrate</ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-footer>