
ion-content{
    --ion-background-color: #fffff0 !important

}
.center{
    height: 8em !important;
    display: block;
    margin:12% auto 5%;
    border-radius: 15%;
}

.bgBody{
    background-color: #fffff0
}


ion-item{
    margin: 5%;
}
.password{
    margin: 10%}

ion-footer{
    &.footer-md::before{
        background-image: none;
    }
}