body{ 	  
		background: url('https://www.sevilla.org/++theme++aysevilla/img/skyline-amarillo.svg') no-repeat, repeating-linear-gradient(-60deg, lightyellow, lightyellow 3px, lightgoldenrodyellow 3px, lightgoldenrodyellow 6px), yellow 200px bottom ;
		background-attachment: scroll;
		background-position: bottom; 
		background-color: yellow;
		background-size: 30em;
		background-repeat: repeat-x;

	}
	.header{
		overflow: hidden;
		background-color: #a51c30;
		padding: 0 0;
		margin: -10;
		color: gold;
		height: 10%;

	}
	.middleHeader{
		height: inherit;
		width: inherit;
		margin: 1.5em auto;

	}
	text{
		float: left !important;		
	}
	
	img{
		display:block;
		float: left;
		padding: 0% 2%;
		max-height: 100%;
	}
	.logoutBtn{
		float: right;
		margin-top: -2em;
		margin-right: 1%;
		border: 2px solid goldenrod;
		background-color: transparent;
		color: gold;
		border-radius: 1em;
		padding: .1em .5em;
		font-size: 16px;
		cursor: pointer;
		  
	}