label, h3{
  font-family: Arial, Helvetica, sans-serif;
}

input{
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.2em;
}
label{
  font-size: 1.2em;
}

.row {
  padding: 2%;
  background-color: lightyellow ;
  border-radius: 2%;
  border: 1px solid lightgray;
  display: flex;
}

.column {
 
  flex: 50%;
}

.error{
  color:red;
}