 .container {
		    padding: 80px 120px;
		  }
		  .img-circle{
		    border: 10px solid transparent;
		    margin-bottom: 25px;
		    width: 80%;
		    height: 80%;
		    opacity: 0.9;
		  }
		  
		  .overlay {
			  position: absolute;
			  top: 0;
			  bottom: 0;
			  left: 0;
			  right: 0;
			  height: 100%;
			  width: 100%;
			  opacity: 0;
			  transition: .5s ease;
			}
			.inner-container:hover .img-circle{
				-moz-transform: scale(1.1);
  				-webkit-transform: scale(1.1);
  				transform: scale(1.1);
  				transition: .5s ease;
  				opacity: 0.7;
  				background-color: #555555;
			}
			
			.inner-container:hover .overlay {
 				 opacity: 1.0;
 				 z-index:1000;
 				   
			}
			
			.text {
			  font-weight: bold;
			  color: white;
			  font-size: 20px;
			  position: absolute;
			  top: 45%;
			  left: 50%;
			  -webkit-transform: translate(-50%, -50%);
			  -ms-transform: translate(-50%, -50%);
			  transform: translate(-50%, -50%);
			  text-align: center;
			}
			