.pagination { 
    display: inline-block; 
} 
nav{
    background-color: lightyellow;

}

.table-container {
    width: 100% 
}
.paleblue{
    width: 100%
}
  
.pagination li { 
	list-style-type: none;
    float: left; 
} 
.pagination li a{
    font-weight:bold; 
    font-size:20px; 
    color: gray; 
    padding: 8px 16px; 
    text-decoration: none;
}
.pagination li.active a { 
	color: black !important 
} 
.pagination li:hover:not(.active) { 
    background-color: #d4d5d2; 
}
.next{
	display: none
}
.previous{
	display: none
}

h2{
    margin-top:1%;
    margin-left: 1%
}

.createButton{
    display: inline-block;
    background-color: whitesmoke ;
    border-radius: 28px;
    border: 1px solid lightgray;
    padding: 0.5% 1%;
    margin: 1%;
    text-decoration: none;
    color: black;
}