
input{
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1.2em;
}
label{
    font-size: 1.2em;
}

.content{
    margin: 0 auto;
    text-align: center;
}

.sansserif{
    font-family: Arial, Helvetica, sans-serif;
}

.margintop{
    margin-top: 2%
}

body{
    background-color: lightgoldenrodyellow
}