
input{
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1.5em;
}
#id_email{
    width: 20em !important;
}
h3{
    margin-top:5%
}
h4{
    margin-top: 3%
}

.content{
    margin: 0 auto;
    text-align: center;
}

.sansserif{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgoldenrodyellow
}