{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
        <title>
            Evote Sevilla
          </title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <img src="{% static 'img/icon.png' %}">
            <div class="middleHeader"><h2 class="text">{% block title %}{% endblock %}</h2></div>
            {% if user.is_superuser %}
            <form action="/accounts/logout">
                <input type="submit" class="logoutBtn" value="Cerrar sesión"></input>
            </form>
            {% endif %}

        </div>

        {% block content %}
        {% endblock %}
    </body>
</html>


