{% extends 'registration/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock %}
{% block title %}Acceso de administrador{% endblock %}

{% block content %}
<div class="content"> 
    <h3 class="sansserif" style="margin-top: 5%">Inicie sesión</h3>

  <form method="post">
    {% csrf_token %}
    {% if user.is_authenticated and  not user.is_superuser %}
      <p class="sansserif">El usuario con sesión activa no es administrador</p>

    {% endif %}

    {% for field in form %}
        <div class="form-group margintop">
            {% if field.html_name == 'password'%}
              <label class="sansserif" for="{{ field.id_for_label }}">Contraseña</label>
              <input name="{{ field.html_name }}" type="password" class="form-control" id="{{ field.id_for_label }}"/> 
            {% endif %}
            {% if field.html_name != 'password'%}
              <label class="sansserif" for="{{ field.id_for_label }}">Usuario</label>
              <input name="{{ field.html_name }}" class="form-control" id="{{ field.id_for_label }}"/> 
            {% endif %}
        </div>
    {% endfor %}
    {% if form.errors %}
        <h4 style="color:red">El usuario y/o contraseña son incorrectos</h4>
    {% endif %}
    <input class="margintop" type="submit" value="Iniciar sesión" />
  </form>
</div>
{% endblock %}