{% extends 'registration/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">

{% endblock %}
{% block title %}Restaurar contraseña{% endblock %}

{% block content %}

<div class="content">
    <h3 class="sansserif">Hemos enviado las instrucciones al correo solicitado.</h3><h4 class="sansserif"> Si no ha sido recibido en unos minutos, por favor, compruebe en la carpeta de correo no deseado y/o verifique que este correo tenga asociada una cuenta.</h4>
</div>

{% endblock %}
