{% extends 'registration/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">

{% endblock %}
{% block title %}Restaurar contraseña{% endblock %}
{% block content %}
<div class="content">
        {% if validlink %}
        <h2 class="sansserif margintop">Introduzca la nueva contraseña</h2>
        <b>La contraseña debe cumplir los siguientes requisitos:</b><br>
        <i>Debe tener al menos 8 caracteres</i><br>
        <i>No puede tener caracteres exclusivamente numéricos</i><br>
        <i>No puede ser similar al resto de su información</i><br>
        <i>No use contraseñas comunes</i><br>

        
        <form action="" method="post">{% csrf_token %}
            <div class="form-group margintop">
                <label for="id_new_password1 sansserif">Nueva contraseña:</label>
                <input class="form-control" type="password" id="id_new_password1" name="new_password1" value="">
            </p>
            <div class="form-group margintop">
                <label for="id_new_password2 sansserif">Confirme contraseña:</label>
                <input class="form-control" type="password" id="id_new_password2" name="new_password2" value="">
            </div>
            <br>
            <input type="submit" class="btn btn-default" value="Cambiar contraseña" />
        </form>

        {% else %}

        <h3 class="sansserif margintop">El enlace no es válido, probablemente ya ha sido usado. Por favor, solicite un nuevo cambio de contraseña</p>

        {% endif %}
</div>
{% endblock content %}