{% extends 'registration/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">

{% endblock %}
{% block title %}Restaurar contraseña{% endblock %}

{% block content %}
<div class="content">
  <h3 class="sansserif margintop">
      La contraseña ha sido guardada.<br>
      Ya puede entrar en la aplicación con  los nuevos credenciales
  </h3>
</div>  
{% endblock %}