{% extends 'registration/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">

{% endblock %}
{% block title %}Restaurar contraseña{% endblock %}

{% block content %}

<div class="content">
    <h3 class="sansserif">¿Ha olvidado su contraseña?</h3><h4 class="sansserif"> Introduzca su email y le enviaremos las intrucciones para restaurar su cuenta</h4>
    <form action="" method="post">{% csrf_token %}
        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        {{ form.email }}
        <input type="submit" class="btn btn-default btn-lg" value="Enviar" />
    </form>
</div>

{% endblock %}