<ion-card>
    <ion-card-header>
      Opciones con más votos
    </ion-card-header>
    <ion-card-content>
        <canvas 
        *ngIf="options"
        baseChart
        style="width: 100%; height: 100%"
        [datasets]="barChartData"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [labels] = "barChartLabels"
        [chartType]="barChartType"></canvas>
      <h5>Todas las opciones</h5>
        <canvas 
        *ngIf="options"
        baseChart
        style="width: 100%;"
        [style.height] = "(100+totalVoters*10).toString()+'%'"
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [options]="doughnutChartOptions"
        [chartType]="barChartType2"></canvas> 
      
      </ion-card-content>
  </ion-card>
