<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked"><div class="error" *ngIf="errors.username">El usuario ya existe</div>
      Usuario (6 caracteres mínimo)</ion-label>
    <ion-input [(ngModel)]="user.username" ></ion-input>
  </ion-item>
  <ion-item>
    
    <ion-label position="stacked"><div class="error" *ngIf="errors.password">La contraseña no cumple con los requisitos</div>
      Contraseña (6 caracteres mínimo)</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" ><ion-button fill="clear" (click)="presentAlert()" ><ion-icon  name="information-circle-outline"></ion-icon></ion-button></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"><div class="error" *ngIf="errors.first_name">El nombre no puede estar vacio</div>
      Nombre</ion-label>
    <ion-input [(ngModel)]="user.first_name" ></ion-input>
  </ion-item> 
  <ion-item>
    <ion-label position="stacked"><div class="error" *ngIf="errors.last_name">Los apellidos no pueden estar vacios</div>
      Apellidos</ion-label>
    <ion-input [(ngModel)]="user.last_name" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"><div class="error" *ngIf="errors.email">El email no es válido</div>
      Email</ion-label>
    <ion-input  type="email" [(ngModel)]="user.email" placeholder="ejemplo@mail.es"></ion-input>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label position="stacked"><div class="error" *ngIf="errors.email">El email no es válido</div>
        Biografía</ion-label>
      <ion-textarea   [(ngModel)]="user.bio" placeholder="Descripción"></ion-textarea >
    </ion-item>

    <ion-label position="stacked"><div class="error" *ngIf="errors.photo">Revise la URL proporcionada</div>
      Nombre</ion-label>
    <ion-input [(ngModel)]="user.photo" ></ion-input>
  </ion-item> 
  <ion-item>
    <ion-label position="stacked"><div class="error" *ngIf="errors.birthdate">Debes tener mas de 18 años.</div>
      Fecha de nacimiento</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY"  [(ngModel)]="date" [max]="maxDate"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"><div class="error" *ngIf="errors.district">Debes seleccionar un distrito.</div>
      Distrito</ion-label>
    <ion-select cancelText="Cancelar" okText="Aceptar" [(ngModel)]="user.district">
      <ion-select-option *ngFor="let d of districts" [value] = "d.id">{{d.name}}</ion-select-option>
    </ion-select>
  </ion-item>


</ion-content>

<ion-footer>
  <ion-button no-margin large expand="full" [disabled]="isValid()" (click)="registerUser()">Regístrate</ion-button>
  </ion-footer>
