<ion-tabs #myTabs >

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" (click)="getSelected('tab1')">
      <ion-icon name="bulb"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2"  (click)="getSelected('tab2')" >
      <ion-icon name="mail-open"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="tab3" (click)="getSelected('tab3')" >
      <ion-icon name="ios-archive"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
